# Este archivo sí se sube a GitHub.
# El .env real NO se sube.

DATABASE_URL=postgresql://USUARIO:CONTRASENA@HOST:PUERTO/NOMBRE_BD

SECRET_KEY=CAMBIAR_EN_PRODUCCION

PASSWORD_RESET_SALT=recuperacion-contrasena
PASSWORD_RESET_EMPRESA_SALT=recuperacion-contrasena-empresa

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=correo_del_sistema@gmail.com
SMTP_PASSWORD=contrasena_de_aplicacion
SMTP_FROM=Sistema Multiempresa <correo_del_sistema@gmail.com>

RESET_PASSWORD_FRONTEND_URL=http://localhost:4200/restablecer-contrasena
RESET_PASSWORD_EMPRESA_FRONTEND_URL=http://localhost:4200/empresa/restablecer-contrasena

DEBUG_RETURN_RESET_LINK=false
DEBUG_SKIP_EMAIL=false